<launch>
    
    <node pkg="rosbag" type="play" name="rosbag_player"
        args="-r 2 /home/csm/Desktop/cartographer_bags/2019-07-16-14-03-04.bag">
    </node>
    
    <!--
    <node pkg="sensors" type="velocity_conversion" name="velocity_conversion">
        <remap from="/velocity_conversion/twist" to="/velocity_conversion/twist_in" />
    </node>
    -->

    <node pkg="robot_localization" type="odom_slam_node" name="odom_slam_node" output="screen"/> 

    <node pkg="robot_localization" type="ukf_localization_node" name="ukf_se" clear_params="true" output="screen">
        <rosparam command="load" file="$(find robot_localization)/params/ukf_forklift.yaml" />
        <remap from="odometry/filtered" to="odom"/>
    </node>
    
    <!--
    <node pkg="sensors" name="imu_viewer" type="imu_viewer">
        <param name="imu_topic" value="/arduino/imu1"/>
        <param name="origin_frame" value="odom"/>
        <param name="imu_frame" value="imu0"/>
    </node>
    -->
    
</launch>
